# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
dist
dist-ssr
dist-electron
build
*.local

# Environment variables (Sensitive!)
.env
.env.*

# Sub-projects
listo-master/
listo-go/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
.tmp
*.zip
*.json
!package.json
!package-lock.json
